button {
    outline: none;
    font: inherit;
    line-height: 1;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.35em;
    color: rgba(0, 0, 0, 0.7);
    background: rgba(13, 177, 253, 0.904);
    border: 2px solid rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 0 rgba(157, 163, 245, 0.849);
    transition: transform 50ms ease-out;
    will-change: transform;
  }

  button:active {
    transform: scale(0.95);
  }

.hurt{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;

}