
   body{
    width: 100%;
    height: 100%;
   background-image: linear-gradient(-25deg, #000000 0%, #96B7C4 100%);

}
.head1{
   margin: 10% 0px 26% 0px;
   padding: 0px 0px 20px 0px;
   text-align: center;
   justify-content: center;
   align-items: center;    
}
.head1 a{
  color: black;
}
.head1 a:hover{
  color: purple;
  text-decoration: none;
}
.btn {    
  content: '';
  background-image: url('../photo/Btnskin/gameskin3.png');
  background-repeat: no-repeat;
  background-size: contain;
   color: white;
   position: relative;
    width: 350px;
   height: 105px;
   overflow: hidden;
   text-align: center;
   justify-content: center;
   align-items: center;    
       margin: 50px 60px 45px 38%;
   padding: 0px 0px 45px 0px;
   border: 1px solid blue;
   transition: all 0.2s ease-out;
   -webkit-transition: all 0.2s ease-out;
   box-shadow: 0 0 0.25em #333;
 }
 .btn span{
  z-index: 2; 
  display: block;
  width: 100%;
  height: 100%;   
  }  

 .btn::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
   opacity: 0;
   background-color: rgba(207, 216, 215, 0.5);
  
   transition: all 1s ;
   -webkit-transition: all 1s;
 }
 .btn::after {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   border: 120px solid transparent;
   height: 100%;
   width: 0;
   z-index: -1;
   transition: all 0.1s ease-out;
   -webkit-transition: all 0.1s ease-out;
 }    
 /* .btn:active {
   transform: scale(1.2, 1.5);
   -webkit-transform: scale(1.2,1.5);
   
 } */
 .btn:hover::before{
  opacity: 1;
  transform: skewX(45deg)  scale(0,1);
  }
  .btn::after:hover{
    background-color: #000;
  }
  .btn a{ 
    color: #78a4b6;
    padding: 30px 70px;
    transform:  scale(1.2,1.2);
    transition: all 1s;
   font-size: 2em; 
  }
  .btn a:hover{
    transition: all 1s;
    text-decoration: none;
    color: white;
    transform:  scale(1.2,1.2);
 }


.footer{
   margin-top: 18.8%;
}