*{
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
}

.header{
    font-weight:bolder;
    color: rgba(231, 20, 20, 0.788);
}

.message_box{
    width: 500px;
    min-width :390px;
    height: 600px;
    background:#84c754;
    padding: 25px;  
    margin: 20px auto;
    box-shadow: 0 3px #84c754;
}

.message_logs{
    padding: 10px;
    width: 100%;
    height: 450px;
    background: #eeee;
    overflow-x: hidden;
    overflow-y: scroll;
    ;
}

.message{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message .user-photo{
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.message .user-photo img{
    width: 100%;
}

.message .message_chat{
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    font-family: papyrus;
    font-weight:bolder;
    color: red;
    font-size: 20px;
    background: black;
}

.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form input{
    background: #fbfbfb;
    height: 50px;
    width: 100%;
    border: 2px solid #eeee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: black;
}

.chat-form input:focus{
    background: #fbfbfb;
}

.chat-form input:focus::-webkit-scrollbar{
    width: 10px;
}

.chat-form input:focus::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.chat-form button{
    background:rgb(0, 0, 0);
    padding: 15px;
    font-family: papyrus;
    font-size: 30px;
    font-weight:bolder;
    color: red;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 gray;
    cursor: pointer;
}

.chat-form button:hover{
    background:#252525;

}

.chat-form button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}