body{
    background-color: black;
    font-family: 'audiowide',monospace;
    font-size: 20px;
    color: #84c754;
    text-align: center;
}
a{
    text-decoration: none;
    color:blue;
}
a:hover{
  color:purple;
}
.word2{
  color:red;
}
.instructions{
  color: #233516;
}

.button {
    width: 150px;
    height:50px;
    border-radius:180px;
    position:relative;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    cursor:pointer;
    line-height:12px;
    text-align: center;
  }
  
  .button:before {
    content:'';
    z-index:1;
    position:absolute;
    display:block;
    width:80%;
    height:70%;
    top:15%;
    left:10%;
    transition: 0.3s opacity ease-in-out;
    filter:blur(15px);
    opacity:0;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  }
  
  .button:hover:before {
    opacity:1;
    transition: 0.3s opacity ease-in-out;
    filter:blur(25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
  }
  
  .button:after {
    content:'Hint!';
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:rgba(235,235,235,1);
    font-weight:bold;
    z-index:5;
    position:absolute;
    display:block;
    border-radius:180px;
    width:92%;
    height:80%;
    top:10%;
    left:4%;  
    background-color:rgb(19, 20, 22);
  }