
body{
    height: 100%;
    width: 100%;
    font-family: 'audiowide',monospace !important;
    background-image: linear-gradient(-50deg, #494949 0%, #96B7C4 0%);
  
  }
  .carousel-item {
    
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
  }
  .btn-round { border-radius: 30px; }
  .bg-indigo { background: indigo; }
  .text-cyan { color: #35bdff; }
  
  
  .testbox1{
     position: relative;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     height: 400px;
     width: 1200px;
     background: #000;
     box-shadow: 0 25px 30px rgba(0,  0, 0, 5);
     display: flex;
  }
  .content{
    width: 50%;
    height: 100%;
    background: #000;
    box-sizing: border-box;
  }
  .security_introduction{
    font-size: 25px;
  }
  /*gameset.css*/
  .game{
    margin-top: 5%;
    text-align: center;
    
  }
  .game a:hover{
    text-decoration: none;
  }
  
  /*about index*/
  .defaultcolor {
    color: #2724d5;
    font-size: 30px;
  }
  
  /*namecard*/
  
  .namecard{
    
    width: 500px;
    height: 350px;
    padding: 20px;
    background-color:#eee;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.7);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 20px 15px -1px rgba(0,0,0,0.5)
    
  }
  .namecard h2{
    font-size: 25px;
    font-weight: 500;
  }
  .namecard p{
    font-size: 20px;
    line-height: 15px
  }
  

  
  /* ---- PreLoader ---- */
  
  .loader {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 11111;
    overflow-x: hidden;
    background: #fff;
  }
  
  .loader-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .cssload-loader {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 2em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  
  .cssload-loader,
  .cssload-loader:before,
  .cssload-loader:after {
    animation: 1.15s infinite ease-in-out;
    -o-animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
  }
  
  .cssload-loader:before,
  .cssload-loader:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(36, 204, 213);
    transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    animation: cssload-animation 1.73s infinite ease-in-out;
    -o-animation: cssload-animation 1.73s infinite ease-in-out;
    -webkit-animation: cssload-animation 1.73s infinite ease-in-out;
    -moz-animation: cssload-animation 1.73s infinite ease-in-out;
  }
  
  .cssload-loader:after {
    animation-delay: 0.86s;
    -o-animation-delay: 0.86s;
    -webkit-animation-delay: 0.86s;
    -moz-animation-delay: 0.86s;
  }
  
  @keyframes cssload-animation {
    0% {
        transform: translateX(-100%) scale(0);
    }
    50% {
        transform: translateX(0%) scale(1);
    }
    100% {
        transform: translateX(100%) scale(0);
    }
  }
  
  @-o-keyframes cssload-animation {
    0% {
        -o-transform: translateX(-100%) scale(0);
    }
    50% {
        -o-transform: translateX(0%) scale(1);
    }
    100% {
        -o-transform: translateX(100%) scale(0);
    }
  }
  
  @-ms-keyframes cssload-animation {
    0% {
        -ms-transform: translateX(-100%) scale(0);
    }
    50% {
        -ms-transform: translateX(0%) scale(1);
    }
    100% {
        -ms-transform: translateX(100%) scale(0);
    }
  }
  
  @-webkit-keyframes cssload-animation {
    0% {
        -webkit-transform: translateX(-100%) scale(0);
    }
    50% {
        -webkit-transform: translateX(0%) scale(1);
    }
    100% {
        -webkit-transform: translateX(100%) scale(0);
    }
  }
  
  @-moz-keyframes cssload-animation {
    0% {
        -moz-transform: translateX(-100%) scale(0);
    }
    50% {
        -moz-transform: translateX(0%) scale(1);
    }
    100% {
        -moz-transform: translateX(100%) scale(0);
    }
  }
  
  
  /* ---- Loader ends ---- */
  