body{
    margin: 0px;
    padding: 0px;
    margin-top: 5%;
    text-align: center;
    background-color: floralwhite;
    
}
a:hover{
    text-decoration: none;
}

h1{
    display: inline-block;
    margin-bottom: 20px;
}
 .game{
     width: 100%;
     height: 100%;
 }

 .gamechoose button{
     margin: 50px;
 }
 .gamechoose a{
    display: block;
    margin: 20px;
    font-size: 20px;
 }