
   body{
    width: 100%;
    height: 100%;
   margin-top: 5%;
   padding: 0%;
   text-align: center;
   background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);

}

h1{
   margin-bottom: 100px;
}
/* .flex a{
  padding: 80px;
}
button{     
   margin: 20px;
}
.item {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 30px;
   border: 1px solid #000;
} 
*/
.btn {
   font-size: 2em;
   color: white;
   height: 100px;
   background: cornflowerblue;
   border: none;
   position: relative;
   width: 250px;
   transition: all 0.2s ease-out;
   -webkit-transition: all 0.2s ease-out;
   box-shadow: 0 0 0.25em #333;
   cursor: pointer;
   outline: none;
   overflow: hidden;
   margin: 30px;
 }
 .btn::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   border: 120px solid transparent;
   border-top-width: 0;
   border-bottom-width: 0;
   height: 100%;
   width: 0;
   z-index: -1;
   transition: all 0.1s ease-out;
   -webkit-transition: all 0.1s ease-out;
   border-left-color: cornflowerblue;
 }
 .btn::after {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   border: 120px solid transparent;
   border-top-width: 0;
   border-bottom-width: 0;
   height: 100%;
   width: 0;
   z-index: -1;
   transition: all 0.1s ease-out;
   -webkit-transition: all 0.1s ease-out;
   border-right-color: cornflowerblue;
 }
 .btn:active {
   transform: scale(1.2, 0.8);
   -webkit-transform: scale(1.2, 0.8);
 }

/*  style2
 .animate
 {
     transition: all 0.1s;
     -webkit-transition: all 0.1s;
 }
 
 .action-button
 {
   display: inline-block;
   justify-content: center;
   align-items: center;
     position: relative;
     padding: 10px 0px;
       margin: 20px;
     border-radius: 8px;
     font-family: 'Pacifico';
     font-size: 25px;
     color: #FFF;
     text-decoration: none;	
 }
 
 .blue
 {
     background-color: #3498DB;
     border-bottom: 5px solid #2980B9;
     text-shadow: 0px -1px #87CEEB;
 }
 
 .red
 {
     background-color: #E74C3C;
     border-bottom: 5px solid #BD3E31;
 }
 
 .green
 {
     background-color: #82BF56;
     border-bottom: 5px solid #669644;
 }
 
 .yellow
 {
     background-color: #F2CF66;
     border-bottom: 5px solid #D1B358;
 }
 
 .action-button:active
 {
     transform: translate(0px,5px);
   -webkit-transform: translate(0px,5px);
     border-bottom: 1px solid;
 }
 */
 .btn a{
   padding: 20px 10px;
     color: #fff;
 } 
 .btn a:hover{
   text-decoration: none;
   color: #fff;
} 

.footer{
   margin-top: 300px;
}