
   body{
    width: 100%;
    height: 100%;
   margin-top: 5%;
   padding: 0%;
   text-align: center;
   background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);

}

h1{
   margin-bottom: 100px;
}
/* .flex a{
  padding: 80px;
}
button{     
   margin: 20px;
}
.item {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 30px;
   border: 1px solid #000;
} 
*/
.btn {    
  content: '';
  background-image: url('../../playgame/gameskin3.png');
  background-repeat: no-repeat;
  background-size: contain;
   font-size: 2em;
   color: white;
   position: relative;
    width: 250px;
   height: 100px;
   overflow: hidden;
   text-align: center;
   justify-content: center;
   align-items: center;    
       margin: 30px 30px 45px 30px;
   padding: 0px 0px 45px 0px;
   border: 1px solid blue;
   transition: all 0.2s ease-out;
   -webkit-transition: all 0.2s ease-out;
   box-shadow: 0 0 0.25em #333;
 }
 .btn span{
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;   
  }  

 .btn::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
   opacity: 0;
   background-color: rgba(207, 216, 215, 0.5);
  
   transition: all 1s ;
   -webkit-transition: all 1s;
 }
 .btn::after {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   border: 120px solid transparent;
   height: 100%;
   width: 0;
   z-index: -1;
   transition: all 0.1s ease-out;
   -webkit-transition: all 0.1s ease-out;
 }    
 .btn:active {
   transform: scale(1.2, 1.5);
   -webkit-transform: scale(1.2,1.5);
   
 }
 .btn:hover::before{
  opacity: 1;
  transform: skewX(-180deg)  scale(0,1);
  }
  .btn::after:hover{
    background-color: #000;
    transform: scale(1.5,1.5);
  }
  .btn a{ 
    color: #78a4b6;
    font-family:Impact, fantasy;
    padding: 20px 25px;
    transform:  scale(1.2,1.2);
    transition: all 2s;
  }
  .btn a:hover{
    transition: all 1.5s;
    text-decoration: none;
    color: white;
    transform:  scale(1.2,1.2);
 }
/*  style2
 .animate
 {
     transition: all 0.1s;
     -webkit-transition: all 0.1s;
 }
 
 .action-button
 {
   display: inline-block;
   justify-content: center;
   align-items: center;
     position: relative;
     padding: 10px 0px;
       margin: 20px;
     border-radius: 8px;
     font-family: 'Pacifico';
     font-size: 25px;
     color: #FFF;
     text-decoration: none;	
 }
 
 .blue
 {
     background-color: #3498DB;
     border-bottom: 5px solid #2980B9;
     text-shadow: 0px -1px #87CEEB;
 }
 
 .red
 {
     background-color: #E74C3C;
     border-bottom: 5px solid #BD3E31;
 }
 
 .green
 {
     background-color: #82BF56;
     border-bottom: 5px solid #669644;
 }
 
 .yellow
 {
     background-color: #F2CF66;
     border-bottom: 5px solid #D1B358;
 }
 
 .action-button:active
 {
     transform: translate(0px,5px);
   -webkit-transform: translate(0px,5px);
     border-bottom: 1px solid;
 }
 */

.footer{
   margin-top: 300px;
}