

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'audiowide',monospace;
  background-color: #000;
  position: relative;
} 
#top {
  color: #84c754;
  text-align:center;
  line-height: 20px;
  padding:30px;
  /*
  width:380px;
  */
  resize:both;
  float: none;
}
  

#main {
  padding: 10px;
  color: #84c754;
}


#bottom {
  border: 5px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 70%;
  line-height: 14px;
}

#top h1,#top p {
  margin: 0;
}

.menuitem {
  color: #84c754;
  cursor: pointer;
  margin-right: 10p;
  
}

.menuitem:hover {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #84c754;
}


/*下拉式選單*/

/*左上*/
.main ul { /* 取消ul預設的內縮及樣式 */
  margin: 0;
  padding: 0;
  list-style: none;
}

.main ul.drop-down-menu-1 {
  border: #ccc 1px solid;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  top:45px;
  text-align: center;
  resize: both;
  width: auto;
  position: absolute;
 
}

.main ul.drop-down-menu-1 li {
  position: relative;
  white-space: nowrap;
  border-right: #ccc 1px solid;
}

.main ul.drop-down-menu-1 > li:last-child { 
  border-right: none;
}

.main ul.drop-down-menu-1 > li {
 float: right; /* 只有第一層是靠左對齊*/
}

.main ul.drop-down-menu-1 a {
  background-color: black;
  color: #84c754;
  display: block;
  padding: 0 50px;
  text-decoration: none;
  line-height: 50px;
  
  transition: 1s;
  
}

.main ul.drop-down-menu-1 a:hover { /* 滑鼠滑入按鈕變色*/
  background-color:gray;
 border-radius: 50%;
}





.main ul.drop-down-menu-1 ul {
  border: #ccc 1px solid;
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 100%;
  min-width: 180px;
  
}

.main ul.drop-down-menu-1 ul li {
  border: #ccc 0.5px solid;
}

.main ul.drop-down-menu-1 ul li:last-child {
  border-bottom: none;
}

.main ul.drop-down-menu-1 ul ul { /*第三層以後的選單出現位置與第二層不同*/
  z-index: 999;
  top: 10px;
  left: 90%;
}

.main ul.drop-down-menu-1 ul { /*隱藏次選單*/
  display: none;
}

.main ul.drop-down-menu-1 li:hover > ul { /* 滑鼠滑入展開次選單*/
  display: block;
}

    /*
    =========bar========
    */
 .bar ul{
      position: absolute;;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: 0;
      padding: 15px 0;
      background-color: #fff;
      display: flex;
      border-radius: 10px;
      box-shadow: 0 10px 30px rgba(0,0,0,.3);
      z-index: 2;
    }
   .bar ul li{
      list-style: none;
      text-align: center;
      display: block;
      border-right: 1px solid rgba(0,0,0,0.2);
    }
    .bar  ul li:last-child
    {
      border-right: none;
    }
    .bar  ul li a
    {
      text-decoration: none;
      padding: 0 50px;
      display: block;
    }
    .bar  ul li a .icon
    {
      width: 40px;
      height: 40px;
      text-align: center;
      overflow: hidden;
      margin: 0 auto 10px;
    }
    .bar  ul li a .icon .fa
    {
      width: 100%;
      height: 100%;
      line-height: 40px;
      font-size: 34px;
      transition: 0.5s;
      color:#000;
    }
    .bar  ul li a .icon .fa:last-child
    {
      color: #a030d8;
    }
    .bar  ul li a:hover .icon .fa
    {
      transform: translateY(-100%);
    }
    .bar  ul li a .name
    {
      position: relative;
      height: 20px;
      width: 100%;
      display: block;
      overflow: hidden;
    }
    .bar  ul li a .name span
    {
      display: block;
      position: relative;
      color:#000;
      font-size: 18px;
      line-height: 20px;
      transition: 0.5s;
    }
    .bar  ul li a .name span::before
    {
      content:attr(data-text);
      position: absolute;
      top:-100%;
      width: 100%;
      height: 100%;
      color: #a030d8;
    }
    .bar  ul li a:hover .name span
    {
      transform: translateY(20px);
    }