
body{
  padding: 0px;
  margin: 0px;
  font-family: 'audiowide',monospace !important;
 
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}
.carousel-item {
  margin-top: 1%;
  height: 95vh;
  background: no-repeat center center scroll;
  -webkit-background-size: 100% 90%;
  -moz-background-size: 100% 90%;
  -o-background-size: 100% 90%;
  background-size: 100% 90%;
}

@media (min-width: 768px) {
  .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }


.testbox1{
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   height: 400px;
   width: 1200px;
   background: #000;
   box-shadow: 0 25px 30px rgba(0,  0, 0, 5);
   display: flex;
}
.content{
  width: 50%;
  height: 100%;
  background: #000;
  box-sizing: border-box;
}
.security_introduction{
  font-size: 25px;
}
/*gameset.css*/
.game{
  margin-top: 5%;
  text-align: center;
  
}
.game a:hover{
  text-decoration: none;
}

    /*
    =========bar========
    */
 .bar ul{
  position: fixed;
  top:90%;
      /* position: absolute;
      top: 255%; */
      left: 50%;
      transform: translate(-50%,-50%);
      margin: 0;
      padding: 10px 5px;
      background-color: #fff;
      display: flex;
      border-radius: 10px;
      box-shadow: 0 10px 30px rgba(0,0,0,.3);
      z-index: 2;
    }
   .bar ul li{
      list-style: none;
      text-align: center;
      display: block;
      border-right: 1px solid rgba(0,0,0,0.2);
    }
    .bar  ul li:last-child
    {
      border-right: none;
    }
    .bar  ul li a
    {
      text-decoration: none;
      padding: 0 50px;
      display: block;
    }
    .bar  ul li a .icon
    {
      width: 40px;
      height: 40px;
      text-align: center;
      overflow: hidden;
      margin: 0 auto 10px;
    }
    .bar  ul li a .icon .fa
    {
      width: 100%;
      height: 100%;
      line-height: 40px;
      font-size: 34px;
      transition: 0.5s;
      color:#000;
    }
    .bar  ul li a .icon .fa:last-child
    {
      color: #a030d8;
    }
    .bar  ul li a:hover .icon .fa
    {
      transform: translateY(-100%);
    }
    .bar  ul li a .name
    {
      position: relative;
      height: 20px;
      width: 100%;
      display: block;
      overflow: hidden;
    }
    .bar  ul li a .name span
    {
      display: block;
      position: relative;
      color:#000;
      font-size: 18px;
      line-height: 20px;
      transition: 0.5s;
    }
    .bar  ul li a .name span::before
    {
      content:attr(data-text);
      position: absolute;
      top:-100%;
      width: 100%;
      height: 100%;
      color: #a030d8;
      text-align: left;
    }
    .bar  ul li a:hover .name span
    {
      transform: translateY(20px);
    }

/*about index*/
.defaultcolor {
  color: #24cdd5;
}


/*index's image*/
/*------------------------*/
.hack3{
      color: #000;
  background-repeat: no-repeat;
margin: 10px;

  /* background-image: url(/js-hackgame/photo/index/hack3.jpg)  ; */
  background-size: cover;
}


/* ---- PreLoader ---- */

.loader {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 11111;
  overflow-x: hidden;
  background: #fff;
}

.loader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cssload-loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 2em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
  animation: 1.15s infinite ease-in-out;
  -o-animation: 1.15s infinite ease-in-out;
  -webkit-animation: 1.15s infinite ease-in-out;
  -moz-animation: 1.15s infinite ease-in-out;
}

.cssload-loader:before,
.cssload-loader:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(36, 204, 213);
  transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  animation: cssload-animation 1.73s infinite ease-in-out;
  -o-animation: cssload-animation 1.73s infinite ease-in-out;
  -webkit-animation: cssload-animation 1.73s infinite ease-in-out;
  -moz-animation: cssload-animation 1.73s infinite ease-in-out;
}

.cssload-loader:after {
  animation-delay: 0.86s;
  -o-animation-delay: 0.86s;
  -webkit-animation-delay: 0.86s;
  -moz-animation-delay: 0.86s;
}

@keyframes cssload-animation {
  0% {
      transform: translateX(-100%) scale(0);
  }
  50% {
      transform: translateX(0%) scale(1);
  }
  100% {
      transform: translateX(100%) scale(0);
  }
}

@-o-keyframes cssload-animation {
  0% {
      -o-transform: translateX(-100%) scale(0);
  }
  50% {
      -o-transform: translateX(0%) scale(1);
  }
  100% {
      -o-transform: translateX(100%) scale(0);
  }
}

@-ms-keyframes cssload-animation {
  0% {
      -ms-transform: translateX(-100%) scale(0);
  }
  50% {
      -ms-transform: translateX(0%) scale(1);
  }
  100% {
      -ms-transform: translateX(100%) scale(0);
  }
}

@-webkit-keyframes cssload-animation {
  0% {
      -webkit-transform: translateX(-100%) scale(0);
  }
  50% {
      -webkit-transform: translateX(0%) scale(1);
  }
  100% {
      -webkit-transform: translateX(100%) scale(0);
  }
}

@-moz-keyframes cssload-animation {
  0% {
      -moz-transform: translateX(-100%) scale(0);
  }
  50% {
      -moz-transform: translateX(0%) scale(1);
  }
  100% {
      -moz-transform: translateX(100%) scale(0);
  }
}


/* ---- Loader ends ---- */
