body{
  padding: 0px;
  margin: 0px;
  background-color: #87CEEB;
}
.carousel-item {
  
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }


.testbox1{
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   height: 400px;
   width: 1200px;
   background: #000;
   box-shadow: 0 25px 30px rgba(0,  0, 0, 5);
   display: flex;
}
.content{
  width: 50%;
  height: 100%;
  background: #000;
  box-sizing: border-box;
}
.imagebox{
  width: calc(50% + 50px);
  height: 100%;
  background: #f00;
  box-sizing: border-box;
  border-left: 100px solid #000;
  border-bottom: 400px solid transparent;
}

/*gameset.css*/
.game{
  margin-top: 5%;
  text-align: center;
  
}
.game a:hover{
  text-decoration: none;
}

    /*
    =========bar========
    */
 .bar ul{
      position: fixed;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: 0;
      padding: 15px 0;
      background-color: #fff;
      display: flex;
      border-radius: 10px;
      box-shadow: 0 10px 30px rgba(0,0,0,.3);
      z-index: 2;
    }
   .bar ul li{
      list-style: none;
      text-align: center;
      display: block;
      border-right: 1px solid rgba(0,0,0,0.2);
    }
    .bar  ul li:last-child
    {
      border-right: none;
    }
    .bar  ul li a
    {
      text-decoration: none;
      padding: 0 50px;
      display: block;
    }
    .bar  ul li a .icon
    {
      width: 40px;
      height: 40px;
      text-align: center;
      overflow: hidden;
      margin: 0 auto 10px;
    }
    .bar  ul li a .icon .fa
    {
      width: 100%;
      height: 100%;
      line-height: 40px;
      font-size: 34px;
      transition: 0.5s;
      color:#000;
    }
    .bar  ul li a .icon .fa:last-child
    {
      color: #a030d8;
    }
    .bar  ul li a:hover .icon .fa
    {
      transform: translateY(-100%);
    }
    .bar  ul li a .name
    {
      position: relative;
      height: 20px;
      width: 100%;
      display: block;
      overflow: hidden;
    }
    .bar  ul li a .name span
    {
      display: block;
      position: relative;
      color:#000;
      font-size: 18px;
      line-height: 20px;
      transition: 0.5s;
    }
    .bar  ul li a .name span::before
    {
      content:attr(data-text);
      position: absolute;
      top:-100%;
      width: 100%;
      height: 100%;
      color: #a030d8;
      text-align: left;
    }
    .bar  ul li a:hover .name span
    {
      transform: translateY(20px);
    }
