

.exit{
    position: fixed;
    left: 48.9%;
}

.exit :hover{
    text-decoration: none;
}
caption {
    top: 100px;
    text-align: center;
    caption-side: top;
    }

.test{
    margin-top: 5%;
}
/* 
table:hover{
    background-color: rgb(110, 110, 108);
} */
.thead:hover{
    background-color: rgb(41, 41, 41);
}