body{
  background-image: linear-gradient(-45deg, #616161 0%, #96B7C4 100%);
  /*  font-size: 20px; */
  color: floralwhite;
  text-align: center;
}
.body2{
  font-family: 'audiowide',monospace;
  font-size: 20px;

}
/* 
body{
    width: 100%;
    height: 100%;
      color: floralwhite;
      padding: 0%;
      text-align: center;
      background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
    
  }
  .body2{
    margin-top: 5%;
     font-family: 'audiowide',monospace;   
    font-size: 20px;
  }  */
   .header{
    font-weight:bolder;
    color: rgba(231, 20, 20, 0.788);
  }
  
  h1{
    color: #233516;
  }
  
    h1 a{
      font-size: 30px;
    }
    h1 a:hover{
      text-decoration: none;
      color: blue;
    }
    h2 {
      text-align: center;
      color: #c75454;
  }
  /*表單*/
  .form{
    margin-left:auto; 
    margin-right:auto;
    font-size: 24px;
    width: 300px;
    text-align: center;
    
    
  }
  .form th{
    border: 2px solid #000;
    color: rgb(20, 20, 22);
  }
  .form td{
    padding: 10px;
    border: 2px solid #000;

  }

/*為過關按鈕的CSS*/
.pass{
  color:green;
  font-size: 20px;
}   
.pass a{
  color: rgb(0, 0, 163);
  text-decoration: none;
}
.pass a:hover{
  color: rgb(0, 0, 54);
  text-decoration: none;
}
.fail{
  color:red;
  font-size: 30px;
}   
.fail a{
  color: rgb(0, 0, 163);
  text-decoration: none;
}
.fail a:hover{
  color: rgb(0, 0, 54);
  text-decoration: none;
}

.footer{
    position: fixed;
   top: 95%;
   width: 100%;
  }