

body{
    width: 100%;
    height: 100%;
      color: floralwhite;
      padding: 0%;
      text-align: center;
      background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
      font-family:sans-serif;
    
  }
  .body2{
    margin-top: 5%;
     margin-bottom: 50px;
  }
  
  h1{
    color: #233516;
  }
  
    h1 a{
      font-size: 30px;
    }
    h1 a:hover{
      text-decoration: none;
      color: blue;
    }
    h2 {
      text-align: center;
      color: #c75454;
  }
  /* 
  .button {
      width: 150px;
      height:50px;
      border-radius:180px;
      position:relative;
      background: linear-gradient(60deg, #f79533,   #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      cursor:pointer;
      line-height:12px;
      text-align: center;
    }
    
    .button:before {
      z-index:1;
      position:absolute;
      display:block;
      width:80%;
      height:70%;
      top:15%;
      left:10%;
      transition: 0.3s opacity ease-in-out;
      filter:blur(15px);
      opacity:0;
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    }
    
    .button:hover:before {
      opacity:1;
      transition: 0.3s opacity ease-in-out;
      filter:blur(25px);
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
    }
    
    .button:after {
      text-align:center;
      line-height:40px;
      font-size:18px;
      color:rgba(235,235,235,1);
      font-weight:bold;
      z-index:5;
      position:absolute;
      display:block;
      border-radius:180px;
      width:92%;
      height:80%;
      top:10%;
      left:4%;  
      background-color:rgb(19, 20, 22);
    }
  
  .hint{
    background-color: black;
    font-family: 'audiowide',monospace;
    font-size: 20px;
    color: #000000;
    text-align: center;
  } */
  
  /*level1-3 chat room*/
  
  /* .button {
    width: 150px;
    height:50px;
    border-radius:180px;
    position:relative;
    background: linear-gradient(60deg, #f79533,   #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    cursor:pointer;
    line-height:12px;
    text-align: center;
  }
  
  .button:before {
    z-index:1;
    position:absolute;
    display:block;
    width:80%;
    height:70%;
    top:15%;
    left:10%;
    transition: 0.3s opacity ease-in-out;
    filter:blur(15px);
    opacity:0;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  }
  
  .button:hover:before {
    opacity:1;
    transition: 0.3s opacity ease-in-out;
    filter:blur(25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
  }
  
  .button:after {
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:rgba(235,235,235,1);
    font-weight:bold;
    z-index:5;
    position:absolute;
    display:block;
    border-radius:180px;
    width:92%;
    height:80%;
    top:10%;
    left:4%;  
    background-color:rgb(19, 20, 22);
  } */
  
.brfooter{

    height: 400px;
}
  