
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'audiowide',monospace;
  background-color: #190431;
  position: relative;
}

a{
    text-decoration: none;
    color: #3ca09e;
    position: relative;
    z-index: 2;
}
div[class*=box] {
  height: 25%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /*顯示在最上層*/
}


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 300px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before { /*往後翻*/
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after { /*面向前時*/
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
/*
  ================
    button three
  ================
*/
 

  .btn-two{
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative; 
    overflow: hidden;
    }
    .btn-two span{
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;   
    }
    .btn-two:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.5s;
    }
    .btn-two:hover::before{
    opacity: 1;
    transform: skewX(-180deg)  scale(0.5,1);
    }

 
  
  /* 
  ========================
        BUTTON THREE
  ========================
  */
  .btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  
    /*
    =========bar========
    */
    ul{
      position: absolute;;
      top: 90%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: 0;
      padding: 20px 0;
      background-color: #fff;
      display: flex;
      border-radius: 10px;
      box-shadow: 0 10px 30px rgba(0,0,0,.3);
      z-index: 2;
    }
    ul li{
      list-style: none;
      text-align: center;
      display: block;
      border-right: 1px solid rgba(0,0,0,0.2);
    }
    ul li:last-child
    {
      border-right: none;
    }
    ul li a
    {
      text-decoration: none;
      padding: 0 50px;
      display: block;
    }
    ul li a .icon
    {
      width: 40px;
      height: 40px;
      text-align: center;
      overflow: hidden;
      margin: 0 auto 10px;
    }
    ul li a .icon .fa
    {
      width: 100%;
      height: 100%;
      line-height: 40px;
      font-size: 34px;
      transition: 0.5s;
      color:#000;
    }
    ul li a .icon .fa:last-child
    {
      color: #a030d8;
    }
    ul li a:hover .icon .fa
    {
      transform: translateY(-100%);
    }
    ul li a .name
    {
      position: relative;
      height: 20px;
      width: 100%;
      display: block;
      overflow: hidden;
    }
    ul li a .name span
    {
      display: block;
      position: relative;
      color:#000;
      font-size: 18px;
      line-height: 20px;
      transition: 0.5s;
    }
    ul li a .name span::before
    {
      content:attr(data-text);
      position: absolute;
      top:-100%;
      width: 100%;
      height: 100%;
      color: #a030d8;
    }
    ul li a:hover .name span
    {
      transform: translateY(20px);
    }
   /* 
========================
      BUTTON four
========================

.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
  }
  .btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }
  */

 
  /*
h1{
    text-align: center;
    margin-top: 10%;
    font-family: 'audiowide',monospace;
    color: #84c754;
}
a{
    text-decoration: none;
}

.list1{
    font-family:'audiowide',monospace;
    font-size: 30px;
    left:18.5%;
    margin-top: 5%;
    position: absolute;
    list-style:none;
}

.list2{
    font-family:'audiowide',monospace;
    font-size: 30px;
    margin-left: 40%;
    margin-top: 5%;
    position: absolute;
    list-style:none;
}

.list3{
    font-family:'audiowide',monospace;
    font-size: 30px;
    margin-left: 62.5%;
    margin-top: 5%;
    position: absolute;
    list-style:none;
}

a{
    
    border: #ccc 2px solid;
    background-color: black;
    color:#84c754;
    padding:70px;
    transition: 0.5s;
}
a:hover{
    color:white;
    box-shadow: inset 0 0 0 30px #CCC;
}

.demo{
    transition: 1s;
}

.demo:hover{
    transform: scale(1.2);
    opacity: 1;
}
*/