
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #87CEEB;
  position: absolute;
}
div[class*=box] {
  height: 33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /*顯示在最上層*/
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 350px;
  cursor: pointer;
}
.btn a{ 
  text-decoration:  none;
  position: relative;
  z-index: 1;
  padding: 10px 140px 10px  ;
  bottom: 5px;
}
/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  background-color: #fff;
  transition: all 0.3s;
  position: relative;
  border: 1px solid rgba(255,255,255,0.5);
}
.btn-one span {
  transition: all 2s;
}
.btn-one::before { /*往後翻*/
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-left-color: rgba(255,255,255,0.5);
  border-right-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 5px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after { /*面向前時*/
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
/*
  ================
    button two
  ================
*/
 

  .btn-two{
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative; 
    overflow: hidden;
    }
    .btn-two a{
      right: 12.5px;
    }
    .btn-two span{
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;   
    }
    .btn-two:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(207, 216, 215, 0.5);
    transition: all 0.5s;
    }
    .btn-two:hover::before{
    opacity: 1;
    transform: skewX(-180deg)  scale(0.5,1);
    }

 
  
  /* 
  ========================
        BUTTON THREE
  ========================
  */
  .btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  
   /* 
========================
      BUTTON four
========================

.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
  }
  .btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }
  */

 
  /*
h1{
    text-align: center;
    margin-top: 10%;
    font-family: 'audiowide',monospace;
    color: #84c754;
}
a{
    text-decoration: none;
}

.list1{
    font-family:'audiowide',monospace;
    font-size: 30px;
    left:18.5%;
    margin-top: 5%;
    position: absolute;
    list-style:none;
}

.list2{
    font-family:'audiowide',monospace;
    font-size: 30px;
    margin-left: 40%;
    margin-top: 5%;
    position: absolute;
    list-style:none;
}

.list3{
    font-family:'audiowide',monospace;
    font-size: 30px;
    margin-left: 62.5%;
    margin-top: 5%;
    position: absolute;
    list-style:none;
}

a{
    
    border: #ccc 2px solid;
    background-color: black;
    color:#84c754;
    padding:70px;
    transition: 0.5s;
}
a:hover{
    color:white;
    box-shadow: inset 0 0 0 30px #CCC;
}

.demo{
    transition: 1s;
}

.demo:hover{
    transform: scale(1.2);
    opacity: 1;
}
*/