body {
  font: 100% Courier New;
  line-height: 26px;
  background-color: black;
}
/*
.container {
  xmin-width: 900px;
}
*/

#top {
  color: #84c754;

  text-align:center;

  
  line-height: 20px;
  padding:30px;
  /*
  width:380px;
  */
  resize:both;
  float: none;
 
  
}

#main {
  padding: 10px;
  color: #84c754;
}


#bottom {
  border: 5px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 70%;
  line-height: 14px;
}

#top h1,#top p {
  margin: 0;
}

.menuitem {
  color: #84c754;
  cursor: pointer;
  margin-right: 10p;
  
}

.menuitem:hover {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #84c754;
}


#sidebar {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 10px;
  width: 320px;
  position: absolute;
  font-size: 60%;
  font-family: Helvetica;
  line-height: 20px;
  position: relative;
  text-align: center;
}


/*下拉式選單*/

/*左上*/
ul { /* 取消ul預設的內縮及樣式 */
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.drop-down-menu-1 {
  border: #ccc 1px solid;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  margin-top: 50px;
  text-align: center;
  resize: both;
  width: auto;
  position: absolute;
}

ul.drop-down-menu-1 li {
  position: relative;
  white-space: nowrap;
  border-right: #ccc 1px solid;
}

ul.drop-down-menu-1 > li:last-child {
  border-right: none;
}

ul.drop-down-menu-1 > li {
 float: left; /* 只有第一層是靠左對齊*/
}

ul.drop-down-menu-1 a {
  background-color: black;
  color: #84c754;
  display: block;
  padding: 0 50px;
  text-decoration: none;
  line-height: 50px;

}
ul.drop-down-menu-1 a:hover { /* 滑鼠滑入按鈕變色*/
  background-color: #fff;
  color: #84c754;
}
ul.drop-down-menu-1 li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: black;
  color: #fff;
}

ul.drop-down-menu-1 ul {
  border: #ccc 1px solid;
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 100%;
  min-width: 180px;
  
}

ul.drop-down-menu-1 ul li {
  border: #ccc 1px solid;
}

ul.drop-down-menu-1 ul li:last-child {
  border-bottom: none;
}

ul.drop-down-menu-1 ul ul { /*第三層以後的選單出現位置與第二層不同*/
  z-index: 999;
  top: 10px;
  left: 90%;
}

ul.drop-down-menu-1 ul { /*隱藏次選單*/
  display: none;
}

ul.drop-down-menu-1 li:hover > ul { /* 滑鼠滑入展開次選單*/
  display: block;
}
/*右上選單*/
ul.drop-down-menu-2 {
  border: #ccc 1px solid;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  margin-left: 1200px;
  margin-top: -70cm;
  margin-bottom: 30px;
  text-align: right;
  resize: both;
  width: auto;
  
 
}

ul.drop-down-menu-2 li {
  position: relative;
  white-space: nowrap;
  border-right: #ccc 1px solid;
}

ul.drop-down-menu-2 > li:last-child {
  border-right: none;
} 

ul.drop-down-menu-2 > li {
 float: left; /* 只有第一層是靠左對齊*/
}

ul.drop-down-menu-2 a {
  background-color: black;
  color: #84c754;
  display: block;
  padding: 0 50px;
  text-decoration: none;
  line-height: 50px;

}
ul.drop-down-menu-2 a:hover { /* 滑鼠滑入按鈕變色*/
  background-color: #fff;
  color: #84c754;
}
ul.drop-down-menu-2 li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: black;
  color: #fff;
}

ul.drop-down-menu-2 ul {
  border: #ccc 1px solid;
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 100%;
  min-width: 180px;
  
}

ul.drop-down-menu-2 ul li {
  border: #ccc 1px solid;
}

ul.drop-down-menu-2 ul li:last-child {
  border-bottom: none;
}

ul.drop-down-menu-2 ul ul { /*第三層以後的選單出現位置與第二層不同*/
  z-index: 999;
  top: 10px;
  left: 90%;
}

ul.drop-down-menu-2 ul { /*隱藏次選單*/
  display: none;
}

ul.drop-down-menu-2 li:hover > ul { /* 滑鼠滑入展開次選單*/
  display: block;
}