<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Boardal — An Onboarding Modal with Vue.js</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="level3-2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<main v-cloak>
 <button class="button" @click="toggleModal()"><b>提示</b></button>

  <!--  The Modal -->
  <boardal v-if="modal.isOpen" :has-mask="modal.hasMask" :can-click-mask="modal.canClickMask" :has-x="modal.hasX" @toggle="toggleModal">
    <div class="modal-header">  
      <button type="button" class="close" data-dismiss="modal" @click="finish">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <article v-cloak>

    <section>
      <!--<h2>介紹</h2>-->
      <p>此關卡的運作方式與上一關相同，只不過這次需要的是
         搜尋資料庫，所以我們需要用到的是UNION這個語法。
      </p>
    </section>
    <section>
      <p>以下為一個搜尋的SQL語法例子:
        <p><img class="photo" src="/photo/SQL/SQL2_hint1.png"></p>
        該語意為搜尋資料庫裡所有(圖中的*)有關鍵字的資料，這樣子就能做到搜尋資料的效果。</p>
    </section>
    <section>
      <p>這時候使用union select的話，就能將原本的搜尋項目改成你需要搜尋的資料。
        
        <p><img class="photo" src="/photo/SQL/SQL2_hint2.png"></p>

      </p>
    </section>
    <section>
      <p>現在的您知道了這個關卡的運作方式，就換您來動動手試試看吧!</p>
    </section>

    </article>
    <footer>
        <!-- Next Arrow -->
      <div class="forward-actions">
        <button class="primary next" :disabled="isLastStep" v-show="!isLastStep" @click="skip(1)"><i class="fa fa-fw fa-lg" :class="nextIcon"></i></button>
        <button class="accent save" :disabled="!isLastStep" v-show="isLastStep" @click="finish"><i class="fa fa-fw fa-lg fa-check"></i></button>
      </div>

        <!-- Step Dots -->
      <div class="step-dots" v-if="hasDots">
        <div class="step-dot" v-for="n in max" :class="{active: n == step}" @click="goToStep(n)"></div>
      </div>
      <div class="back-actions">

        <!-- Back Arrow -->
        <button class="secondary cancel prev" :disabled="isFirstStep" xv-show="!isFirstStep" @click="skip(-1)"><i class="fa fa-fw fa-lg" :class="backIcon"></i></button>
      </div>
    </footer>
  </boardal>
</main>


<!-- partial -->
  <script src='https://unpkg.com/vue'></script><script  src="level3-1.js"></script>

</body>
</html>

<!-- *************************************************************************** -->

<!-- Restart form first page -->
<!-- <p><button @click="reset()">Rewind</button></p> -->

<!-- Skip to the lastest page -->
<!--  <p><button class="primary" @click="goToStep(5)">skip to the end</button></p> -->

<!-- Exit Button -->
<!--  <p><button class="primary" @click="toggleModal">EXIT</button></p> -->

<!-- Next Button -->
<!-- <p><button class="primary" @click="skip(1)">Next...</button></p> -->
