body{
    background-image: linear-gradient(-45deg, #616161 0%, #96B7C4 100%);
    /*  font-size: 20px; */
    color: floralwhite;
    text-align: center;
}
.body2{
    font-family: 'audiowide',monospace;
    font-size: 20px;

}
h1{
    margin-top: 5%;
    color: #233516;
  }
    h1 a{
      font-size: 30px;
    }
    h1 a:hover{
      text-decoration: none;
      color: blue;
    }
/*為過關按鈕的CSS*/
.pass{
    color:green;
    font-size: 20px;
}   
.pass a{
    color: rgb(0, 0, 163);
    text-decoration: none;
}
.pass a:hover{
    color: rgb(0, 0, 54);
    text-decoration: none;
}
.fail{
    color:red;
    font-size: 30px;
}   
.fail a{
    color: rgb(0, 0, 163);
    text-decoration: none;
}
.fail a:hover{
    color: rgb(0, 0, 54);
    text-decoration: none;
}

/*----------------*/
.instructions{
    color: #233516;
}

.login{  
    width: 420px;  
    overflow: hidden;  
    margin: auto;  
    margin: 5 0 0 450px;  
    padding: 40px;  
    border-radius: 15px ;  
    border: 1px solid white;
    text-align: center; 
}  
h2{  
text-align: center;  
color: #c75454;  
padding: 20px;  
}  
label{  
color:#c75454;  
font-size: 17px;  
}  
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius:5px;  
padding-left: 8px;  
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 5px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: #000000;  
}  
/* span{  
color: white;  
font-size: 17px;  
}   */
#a1{  
float: left;
text-align: center;  
background-color: black;  
color:#84c754;
text-decoration: none;
display: block;
}
#a1:hover{
color:purple;
}
#a2:hover{
color:purple;
}
#a2{  
float: right;
text-align: center;  
background-color: black;  
color:#84c754;
text-decoration: none;
display: block;
}  

.hint{
    background-color: black;
    font-family: 'audiowide',monospace;
        font-size: 20px;
        color: #000000;
    text-align: center;
}
.table2{
    margin: auto;
}