body{
    background-color: black;
    font-family: 'audiowide',monospace;
    font-size: 20px;
    color: #84c754;
    text-align: center;
}

a{
    text-decoration: none;
    color:blue;
}
a:hover{
    color:purple;
}
.word2{
    color:red;
}
.instructions{
    color: #233516;
}

.login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 5 0 0 450px;  
    padding: 40px;  
    background: black ;  
    border-radius: 15px ;  
    border: 1px solid white;
    text-align: center; 
}  
h2{  
text-align: center;  
color: #c75454;  
padding: 20px;  
}  
label{  
color:#c75454;  
font-size: 17px;  
}  
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius:5px;  
padding-left: 8px;  
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 5px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: #000000;  
}  
span{  
color: white;  
font-size: 17px;  
}  
#a1{  
float: left;
text-align: center;  
background-color: black;  
color:#84c754;
text-decoration: none;
display: block;
}
#a1:hover{
color:purple;
}
#a2:hover{
color:purple;
}
#a2{  
float: right;
text-align: center;  
background-color: black;  
color:#84c754;
text-decoration: none;
display: block;
}  

.hint{
    background-color: black;
    font-family: 'audiowide',monospace;
    font-size: 20px;
    color: #000000;
    text-align: center;
}