

body{
    width: 100%;
    height: 100%;
      color: floralwhite;
      padding: 0%;
      text-align: center;
      background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
    
  }
  .body2{
    margin-top: 5%;
     margin-bottom: 50px;
    font-family: 'audiowide',monospace;
    font-size: 20px;
  }
  .footer{
      margin-top: 20%;
  }
  h1{
    color: #233516;
  }
    h1 a{
      font-size: 30px;
    }
    h1 a:hover{
      text-decoration: none;
      color: blue;
    }
    h2 {
      text-align: center;
      color: #c75454;
  }