body{
    background-image: linear-gradient(-45deg, #616161 0%, #96B7C4 100%);
    /*  font-size: 20px; */
    color: floralwhite;
    text-align: center;
}
.body2{
    font-family: 'audiowide',monospace;

    font-size: 20px;
}
h1{
    margin-top: 5%;
    color: #233516;
  }
    h1 a{
      font-size: 30px;
    }
    h1 a:hover{
      text-decoration: none;
      color: blue;
    }
    h5{
      color: black;
    }

    .hint h1{
      font-size: 20px;
    }