

body{
      padding: 0%;
      text-align: center;
      background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
      background-size: cover;
  }
 .myChart{
    position: absolute;
    text-align: left;
     width: 1000px; 
 }

 .word_right{
     position: absolute;
     left: 55%;
     width: 600px;
     height: 450px;
     text-align: center;
     padding: 50px;
     border: 1px solid #000;
     font-family: 'audiowide',monospace !important;
     font-size: 20px;
 }
 .footer{
     position: absolute;
    top: 95%;
    width: 100%;
 }