
   body{
    width: 100%;
    height: 565px;
   margin-top: 10%;
   padding: 0%;
   text-align: center;
   background-image: linear-gradient(-25deg, #616161 0%, #aad0df 100%);

}
.login{  
  position:relative;
  width: 400px;  
  height: 280px;
  text-align: center; 
  margin: auto;  
  padding: 30px;
  border-radius: 15px ;  
  background-color: floralwhite;
  -webkit-box-shadow: 0 0 30px 15px #757575;
-moz-box-shadow: 0 0 30px 15px #757575;
  box-shadow: 0 0 30px 15px #757575;
  font-family: 'audiowide',monospace;
}  
#nickname{
  margin: 10px;
  text-align: center;
  border-radius: 45cm;
}
#email{
  margin: 10px;
  text-align: center;
  border-radius: 45cm;
}
#age{ 
  margin: 10px;
  text-align: center;
  border-radius: 45cm;
}
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 20px 20px 20px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.8);
}
.menu_exit{
  text-decoration: none;
  color:#aad0df;
  font-size: 20px;
}
.menu_exit:hover{

  text-decoration: none;
  color:#aad0df;
}