body{
    font-family: 'audiowide',monospace;
    font-size: 20px;
    color: #84c754;
    position: absolute;
    text-align: center;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -300px;
    background-image: url(https://b.share.photo.xuite.net/pp.t5678/1bc99a4/9978808/447591660_m.jpg);
    background-size: cover;
    
}

a{
    text-decoration: none;
    color:blue;
}
a:hover{
  color:purple;
}