body{
    background-color: black;
    font-family: 'audiowide',monospace;
    font-size: 20px;
    color: #84c754;
    position: absolute;
    text-align: center;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -300px;
}

a{
    text-decoration: none;
}