body{
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
  margin-top: 160px;
}
a{
  text-decoration: none;
  color:black;
}
a:hover{

  text-decoration: none;
  color:black;
}
h3{
  text-align: center;
  margin-top:-5px;
}
.error{
  position:relative;
  width: 450px;  
  text-align: center; 
  overflow: hidden;  
  margin: auto;  
margin-top: 30px;
color: rgb(250, 0, 0);
font-size: 26px;
text-align: center;
display: block;
}
.forok{
  position:relative;
  width: 450px;  
  text-align: center; 
  overflow: hidden;  
  margin: auto;  
margin-top: 30px;
color: rgb(0, 124, 41);
font-size: 26px;
text-align: center;
display: block;
}
.registerbox{  
  position:relative;
  width: 400px;  
  text-align: center; 
  overflow: hidden;  
  margin: auto;  
  padding-top: 40px;   
  border-radius: 15px ;  
  background-color: floralwhite;
  -webkit-box-shadow: 0 0 30px 15px #757575;
-moz-box-shadow: 0 0 30px 15px #757575;
  box-shadow: 0 0 30px 15px #757575;
}  
/* FORM TYPOGRAPHY*/
#Uname{
  padding: 0px 50px;
  text-align: center;
  border-radius: 45cm;
}
.registerbox ::-webkit-input-placeholder {
  color: rgb(185, 185, 185);
    font-size: 20px;
   }
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  margin: 100px;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.8);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
opacity:0;
-webkit-animation:fadeIn ease-in 1;
-moz-animation:fadeIn ease-in 1;
animation:fadeIn ease-in 1;

-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;

-webkit-animation-duration:0.2s;
-moz-animation-duration:0.2s;
animation-duration:0.2s;
}

.fadeIn.first {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.fadeIn.second {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6s;
}

.fadeIn.third {
-webkit-animation-delay: 0.8s;
-moz-animation-delay: 0.8s;
animation-delay: 0.8s;
}


/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
display: block;
left: 0;
bottom: -10px;
width: 0;
height: 2px;
background-color: #56baed;
content: "";
transition: width 0.2s;
}

.underlineHover:hover {
color: #0d0d0d;
}

.underlineHover:hover:after{
width: 100%;
}

/*.Uname ::-webkit-input-placeholder {
   color: red;
   font-size: 20px;
}*/

/*應急用 f11 footer 要改掉的話 上面的height也要動 跟login依樣*/
.footer2{
  margin-top: 15%;
}